<div class="row">
  <div class="col-sm-12 mt-5">
    <div class="row">
      <div class="col-sm-12">
        <!-- back -->
        <div class="float-left mb-3">
          <%= link_to invoices_path, class: 'btn btn-sm btn-outline-secondary rounded-0' do %>
            <i class="fas fa-arrow-left"></i>
            <span class="ml-1">Back</span>
          <%- end -%>
        </div>
        <!-- back -->

        <!-- edit -->
        <%- if internal_user? -%>
          <div class="float-right mb-3">
            <%= link_to edit_invoice_path(@invoice), class: 'btn btn-sm btn-outline-primary rounded-0' do %>
              <span class="mr-1">Update Invoice</span>
              <i class="fas fa-edit"></i>
            <%- end -%>
          </div>
        <%- end -%>
        <!-- edit -->
      </div>
    </div>

    <%- if notice -%>
      <div class="row">
        <div class="col-sm-12">
          <p class="alert alert-info" id="notice"><%= notice %></p>
        </div>
      </div>
    <%- end -%>

    <!-- main content -->
    <div class="row">
      <div class="col-sm-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2">
        <table class="table table-hover table-bordered mb-3">
          <thead>
            <tr>
              <th scope="col">Data point</th>
              <th scope="col">Value</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Internal Id:</td>
              <td><%= @invoice.internal_id %></td>
            </tr>
            <tr>
              <td>External Id:</td>
              <td><%= @invoice.external_id %></td>
            </tr>
            <tr>
              <td>Status:</td>
              <td><%= @invoice.status&.titleize %></td>
            </tr>
            <tr>
              <td>Is digitized:</td>
              <td><%= "#{@invoice.is_digitized ? 'Yes' : 'No'}" %></td>
            </tr>
            <tr>
              <td>Counterparty type:</td>
              <td><%= @invoice.counterparty_type&.titleize %></td>
            </tr>
            <tr>
              <td>Disbursement date:</td>
              <td><%= @invoice.disbursement_date %></td>
            </tr>
            <tr>
              <td>Due date:</td>
              <td><%= @invoice.due_date %></td>
            </tr>
            <tr>
              <td>Gross amount:</td>
              <td><%= number_to_currency(@invoice.gross_amount, precision: 2) %></td>
            </tr>
            <tr>
              <td>Tax rate:</td>
              <td><%= number_to_percentage(@invoice.tax_rate, precision: 2) %></td>
            </tr>
            <tr>
              <td>Tax:</td>
              <td><%= number_to_currency(@invoice.tax, precision: 2) %></td>
            </tr>
            <tr>
              <td>Description:</td>
              <td><%= @invoice.description %></td>
            </tr>
          </tbody>
        </table>

        <!-- line items -->
        <%- line_items = @invoice.line_items.order(:created_at).includes(:category) -%>
        <%- if not line_items.blank? -%>
          <table class="table table-hover table-bordered mb-5">
            <thead>
              <tr>
                <th scope="col">Category</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Amout</th>
              </tr>
            </thead>
            <tbody>
              <%- line_items.each do |line_item| -%>
                <tr>
                  <td><%= line_item.category&.name %></td>
                  <td><%= number_to_currency(line_item.quantity, precision: 2) %></td>
                  <td><%= number_to_currency(line_item.unit_price, precision: 2) %></td>
                  <td><%= number_to_currency(line_item.amount, precision: 2) %></td>
                </tr>
              <%- end -%>
            </tbody>
          </table>
        <%- end -%>
        <!-- line items -->
      </div>
    </div>
    <!-- main content -->
  </div>
</div>
